conda.enabled = true
singularity.enabled = true

params {

    species = null
    readsDir = null

    // Standard parameters, remains unchqanged
    nthreads = 18
    mitohifi_docker_container = "/data2/work/local/MitoHiFi/mitohifi_master.sif"
    mitohifi_local_repo = "/data2/work/local/MitoHiFi/src"
    mitofinder_singularity_path = "/data2/work/local/mitofinder"
}
