conda.enabled = true
singularity.enabled = true

params {

    species = null
    readsDir = null

    // Standard parameters, remains unchqanged
    nthreads = 18
    mitohifi_docker_container = "/data2/work/local/MitoHiFi/mitohifi_master.sif"
    mitohifi_local_repo = "/data2/work/local/MitoHiFi/src"
    mitofinder_singularity_path = "/data2/work/local/mitofinder"


/*
    // the parameters below are used in dev mode only

    refFasta = "/data2/work/Zoarcids/Reference_seqs/Ldea_mtDNA_ncbi/LdeamtDNA_ncbi.fasta"
    refGbk = "/data2/work/Zoarcids/Reference_seqs/Ldea_mtDNA_ncbi/LdeamtDNA_ncbi.gb"


    // tests

    readsDir = "/data2/work/local/MitoHiFi/tests/ilDeiPorc1.reads.100.fa"
    refFasta = "/data2/work/local/MitoHiFi/tests/test_refs/OQ694980.1.fasta"
    refGbk = "/data2/work/local/MitoHiFi/tests/test_refs/OQ694980.1.gb"

*/
}
